@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

.cardWrapper {
    padding:10px;
    background-color: wheat;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    margin: 1rem 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cardHostel, .cardNumber, .cardPrice, .cardPay{
    text-align: center;
    font-size: 1rem;
}

.cardHostel {
    min-width: 20%;
}
.cardNumber{
    min-width: 20%;
}
.cardPrice{
    min-width:20%
}
.cardPay {
    min-width: 15%;
    align-self: center;
}

.cardPay div {
    color:blue;
}
.cardPay div:hover {
    cursor: pointer;
}
/* .cardPay button {
    font-family: 'Tapestry',cursive;
    border: none;
    border-radius: 4px;
    background-color: rgb(48, 148, 255);
} */

/* Responsive Layout */
@media (max-width:800px) {
    .cardWrapper div{
        width: 40% ;
    }
    .cardWrapper{
        margin: 1rem 0;
    }
}