@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

.cardWrapper {
    background-color: white;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
    margin: 1rem 6rem;
    border: 1px solid darkgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    letter-spacing: 1.5px;
}

.cardHostel, .cardNumber, .cardPrice, .cardPay{
    text-align: center;
    font-size: 1rem;
    padding: 5px;
}

.cardHostel {
    min-width: 20%;
}
.cardNumber{
    min-width: 20%;
}
.cardPrice{
    min-width:20%
}
.cardPay {
    min-width: 15%;
    align-self: center;
}

.cardPay button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: darkblue;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
    letter-spacing: 1.5px;
    font-weight: 700;
}
.cardPay button:hover{
    transform: scale(1.1);
}


@media (max-width:800px) {
    .cardWrapper div{
        width: 40% ;
    }
    .cardWrapper{
        margin: 1rem 0;
    }
}