/* <<<<<<< HEAD
#header{
    justify-content: space-between;
    align-items:center;
    display: flex;
    z-index:999;
    position: sticky;
    top:0;
    padding-left: 10px;
    padding-right: 0px;
    background-color: red;
    color: white;
}

#uploadBtn{
    margin-right: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: green;
    user-select: none;
}

#uploadBtn:hover{
    cursor: pointer; */
/* ======= */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');


#container{
    padding: 10px;
    background-color: red;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
#heading{
    text-align: center;
    /* border:1px solid black ; */
    margin-left: 10px;
}
#publish{
    /* border: 1px solid black; */
    margin-right: 10px;
}
#publish button {
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: max-content;
    height: 40px;
    background-color: rgb(0, 152, 0);
    color: white;
    font-weight: 900;
    letter-spacing: 2px;
    font-family: 'Nunito Sans', sans-serif;

/* >>>>>>> 7ac2ad1d1922ed82f38ade9008b94e4601552888 */
}